body {
    background-color: black;
    color: whitesmoke;
    font-family: "EB Garamond", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 5;
}

button {
    background-color: grey;
    color: whitesmoke;
}

.passo{
    display: none;
}

.passo.ativo{
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img{
    max-width: 90%;
}
